 <header class = "header">
    <div class = "header__logo">Expense Splitter</div>
    <div class = "header__button">
        <button>
            <a href="/logout">Logout</a>
        </button>
    </div>
</header>
